$background: #FBF1C7;
$background-alt: #654735;
$background-alt2: #D5C4A1;
$foreground: #3C3836;
$red: #CC241D;
$yellow: #D79921;
$orange: #D65D0E;
$green: #98971A;
$blue: #458588;
$blue2: #83A598;
$magenta: #B16286;
$cyan: #689D6A;
