$rosewater: #d5d5ca;
$flamingo: #a3a39a;
$pink: #d16458;
$mauve: #a47de9;
$red: #e55a4f;
$maroon: #e16458;
$peach: #e5a55c;
$yellow: #dba336;
$green: #8dba64;
$teal: #56d9ad;
$sky: #4bbedf;
$sapphire: #5c9cda;
$blue: #A7C080;
$lavender: #c08adf;

$text: #D3C6AA;
$subtext1: #D3C6AA;
$subtext0: #a3a39a;
$overlay2: #A7C080;
$overlay1: #474747;
$overlay0: #2a2e2a;

$surface2: #1d2621;
$surface1: #272E33;
$surface0: #1E2326;

$base: #0a0f0c;
$mantle: #080c09;
$crust: #050705;

$fg: $text;
$bg: $crust;
$bg1: #3c3836;
$border: #1d2621;
$shadow: $crust;

$surfaceVariant: $base;
$onSurfaceVariant: $subtext1;

$surface: $surface0;
$onSurface: $subtext1;

$primary: $red;
$onPrimary: $lavender;
